.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App {
	text-align: center;
	margin-left: 80px;
	min-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.search_container {
	max-width: 1280px;
	min-width: 100vw;
	display: grid;
	grid-template-columns: repeat(4, 310px);
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	transition: all 0.5s;
	min-height: 100vh;
	max-height: none;
	overflow: hidden;
}

@keyframes turn-off {
	0% {
		transform: scale(1, 1.3) translate3d(0, 0, 0);
		-webkit-filter: brightness(1);
		filter: brightness(1);
		opacity: 1;
	}
	60% {
		transform: scale(1.3, 0.001) translate3d(0, 0, 0);
		-webkit-filter: brightness(10);
		filter: brightness(10);
	}
	100% {
		animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
		transform: scale(0, 0.0001) translate3d(0, 0, 0);
		-webkit-filter: brightness(50);
		filter: brightness(50);
	}
}

.turn-off-anim {
	animation: turn-off 0.8s cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: forwards;
}

@keyframes turn-on {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
	}
	35% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}

	36% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
	}

	91% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
	}

	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
	}
}

.turn-on-anim {
	animation: turn-on 0.3s ease-in;
	animation-fill-mode: forwards;
}
